@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=IBM+Plex+Serif&display=swap');


body {
  margin: 0;
  font-family: 'DM Sans', sans-serif, 'IBM Plex Serif', serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'DM Sans', sans-serif, 'IBM Plex Serif', serif;  
}

.main-container {
  padding: 45px;
  background-color: #F8F2F1
}